form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50px auto;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  label {
    padding-bottom: 10px;
  }
  select {
    height: 50px;
    border: 1px solid #000;
    border-radius: 10px;
    margin-bottom: 30px;
    padding-left: 10px;
  }

  button {
    height: 50px;
    background-color: #004da8;
    border-radius: 10px;
    color: #fff;
  }
}
