.entitiesPage {
  padding: 60px 100px;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 30%;
    }
    .entitiesPage__language {
      display: flex;
      justify-content: center;
      div {
        background-color: #d6caca80;
        border-radius: 15px;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        img {
          width: 40px;
        }
        span {
          font-weight: 600;
        }
      }
      .language__header {
        cursor: pointer;
      }
      .language__wrapper {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 150px;
        span {
          cursor: pointer;
        }
      }
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .entitiesPage__wrapper {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h2 {
      margin: 30px;
      color: #0b2138;
      line-height: 59px;
      font-size: 50px;
    }
  }
}
