.mainLists {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
  height: 630px;

  &__tickets_wrapper {
    height: 85%;
    overflow: hidden;
    overflow-y: scroll;
  }
  &__header {
    padding: 30px 18px;
    display: grid;
    grid-template-columns: 5px 42px 174px 60px 115px 140px;
    justify-content: space-between;
    span {
      font-size: 14px;
      opacity: 0.5;
      display: flex;
      justify-content: center;
    }
  }

  &__item_odd {
    background-color: #f0f0f0;
  }

  &__item_even,
  &__item_odd {
    padding: 14px 18px;
    display: grid;
    grid-template-columns: 5px 42px 174px 60px 115px 140px;
    justify-content: space-between;
    align-items: center;
    span {
      color: #161616;
      font-size: 18px;
      font-weight: 700;
    }
    span,
    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .item__service {
      opacity: 0.7;
    }
    .item__status-standard,
    .item__status-priority,
    .item__status-vip {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      cursor: pointer;
    }
    .item__status-standard {
      border: 1.5px solid black;
    }
    .item__status-priority {
      background: #ebca20;
    }
    .item__status-vip {
      background: #67eb20;
    }
    .item__time-long,
    .item__time-less {
      width: 88px;
      height: 30px;
      padding: 10px;
      border-radius: 15px;
      font-size: 16px;
      font-weight: 600;
      opacity: 0.7;
    }
    .item__time-long {
      border: 2px solid #d62222;
    }
    .item__time-less {
      border: 2px solid #1fa83d;
    }
    button {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      border-radius: 10px;
      background: var(--official-rsk-color, #004da8);
      height: 30px;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }
}
