.ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #e9e9e9;
  padding: 60px;
  width: 400px;
  height: 420px;
  border-radius: 20px;
  color: #0b2138;
  h4 {
    font-weight: 500;
    font-size: 42px;
    line-height: 50px;
  }
  h2 {
    font-weight: 500;
    font-size: 98px;
    line-height: 115px;
  }
  &__arrow {
    font-size: 100px;
  }
}
